<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><?js= env.asynchro.package.name ?> - documentation</title>

  <script src="scripts/prettify/prettify.js"></script>
  <script src="scripts/prettify/lang-css.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
  <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
  <style>
  #topNav {
    position: fixed;
    width: 100%;
    height: 64px;
    padding: 16px;
    font-size: 32px;
    margin-left: 250px;
    background-color: #E0E0E0;
  }
  @media only screen and (max-width: 680px) and (min-width: 320px) {
    #topNav {
      margin-left: 0px;
    }
  }
  #topNav a {
    text-decoration: none;
  }
  #topNav .sep {
    padding: 16px;
  }
  #topNav ~ nav ~ #main {
    margin-top: 64px;
  }
  </style>
  <script>
    window.addEventListener('load', function(event) {
      var readme = document.querySelector('.readme > article > h1');
      if (readme) readme.parentElement.removeChild(readme);
    });
  </script>
</head>
<body>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger" class="navicon-button x">
  <div class="navicon"></div>
</label>

<label for="nav-trigger" class="overlay"></label>

<div id="topNav">
  <a href="index.html" id="source" title="Source Code">
    &#8669; <?js= env.asynchro.package.name ?>
  </a>
  <span class="sep">|</span>
  <a href="<?js= env.asynchro.package.homepage ?>" id="source" title="Source Code">
    <img height="24" width="24" src="img/github.svg" />
  </a>
</div>

<nav>
  <?js= this.nav ?>
</nav>

<div id="main">
  <?js= content ?>
</div>

<br class="clear">

<footer>
  <b><?js= env.asynchro.package.name ?> v<?js= env.asynchro.package.version ?></b><br/>
  Generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>.
</footer>

<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
</body>
</html>
